@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
--Red:hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Grey-500: hsl(234, 12%, 34%);
--Grey-400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--White);
    padding: 113px 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 41px;
    color: var(--Grey-500);
    margin-bottom: 22px;
    font-weight: 600;
}

header h2 {
    font-size: 40px;
    color:var(--Grey-400);
    font-weight: 400;
}

header p {
    font-size: 15px;
    width: 509px;
    color: var(--Grey-400);
    line-height: 25px;
    margin-bottom: 20px; 
}

.container {
    width: 1150px;
    height: 533px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:20px 20px;
    margin-bottom: 50px;
    padding: 1px 15px;
}

.card-supervisor {
    grid-area: 2/ 2 / 4 / 3;
}
.card-team {
    grid-area: 1 / 3 / 3 / 4;
}
.card-karma {
    grid-area: 4 / 3 / 3 / 4;
}
.card-calculator {
    grid-area: 2 / 4 / 4 / 5;
}

article {
    width: 352px;
    height: 251px;
    border: 2px transparent var(--Grey-400);
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.10);
    padding:35px 20px 47px 20px ;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    " h3 h3"
    "p p"
    "image image";
    gap: 0.1rem;
}

article h3 {
    grid-area: h3 ;
    text-align: left;
    color: var(--Grey-500);
    font-weight: 600;
    padding: 1px 10px;
}

article p {
    grid-area: p ;
    color: var(--Grey-400);
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    padding: 1px 10px;
}

article .image {
    grid-area: image;
    justify-self:end;
    margin:15px 10px;
}

.card-supervisor {
    border-top: 4px solid var(--Cyan);
   
}

.card-team{
    border-top: 4px solid var(--Red);
    
}

.card-karma{
    border-top: 4px solid var(--Orange);
   
    
}

.card-calculator{
    border-top: 4px solid var(--Blue);
   
    
}

footer {
    margin-bottom: 10px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Responsive Design */


@media (max-width: 375px) {
    .container {
    width: 350px;
    height: 1107px;
    grid-template-columns:1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
}

body {
    padding: 63px 40px 45px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}


header h1 {
    font-size: 22px;
}

header h2 {
    font-size: 22px;
}

header p {
    width: 296px;
    font-size: 14px;
}

.card-supervisor {
    grid-column: 1;
    grid-row: 1;
}
.card-team {
    grid-column: 1;
    grid-row: 2;
}
.card-karma {
    grid-column: 1;
    grid-row: 3;
}
.card-calculator {
    grid-column: 1;
    grid-row: 4;
}

article {
    width: 310px;
    height: 249px;
}

}