@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
--Red:hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Grey-500: hsl(234, 12%, 34%);
--Grey-400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--White);
    padding: 63px 48px 5px 48px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 22px;
    color: var(--Grey-500);
    margin-bottom: 22px;
    font-weight: 600;
}

header h2 {
    font-size: 22px;
    color:var(--Grey-400);
    font-weight: 400;
}

header p {
    font-size: 14px;
    color: var(--Grey-400);
    line-height: 25px;
    margin-bottom: 20px; 
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}


article {
    width: 316px;
    height: 249px;
    border: 2px transparent var(--Grey-400);
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.10);
    padding:35px 20px 47px 20px ;
    margin:32px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    " h3 h3"
    "p p"
    "image image";
    gap: 0.1rem;
}

article h3 {
    grid-area: h3 ;
    text-align: left;
    color: var(--Grey-500);
    font-weight: 600;
    padding: 1px 10px;
}

article p {
    grid-area: p ;
    color: var(--Grey-400);
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    padding: 1px 10px;
}

article .image {
    grid-area: image;
    justify-self:end;
    margin:15px 10px;
}



.card-supervisor {
    border-top: 6px solid var(--Cyan);
}

.card-team{
    border-top: 6px solid var(--Red);
}

.card-karma{
    border-top: 6px solid var(--Orange);
}

.card-calculator{
    border-top: 6px solid var(--Blue);
}



footer {
    margin-bottom: 10px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}